<!DOCTYPE html>
<html lang="en" ng-app="EMSApp">

<head>
    <meta charset="UTF-8">
    <title>Employee Meeting System (EMS)</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak ng-controller="EmployeeController as ctrl">

    <h1>Employee Management System <span myCurrentTime="ctrl.format"></span> </h1>

    <div class="jumbotron">
        <form name="ctrl.searchForm" ng-submit="ctrl.searchEmployees()">

            <div class="col-sm-12 col-md-3 col-lg-3"></div>
            <div class="keyword col-sm-12 col-md-4 col-lg-4">
                <input type="text" name="keyword" id="keyword" ng-model="ctrl.searchKeyword" placeholder="Employee Name" class="form-control"/>
            </div> 
            <div>
                <button type="submit" class="btn btn-primary">Search</button> <!-- get --> 
                <button type="button" ng-click="ctrl.submitPost()" class="btn btn-primary">Post</button> <!-- post --> 
            </div>
        </form>
    </div>

    <div class="list" ng-show="ctrl.employees">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 employee"ng-repeat="employee in ctrl.employees | orderBy: 'emp_no'">

                <h4><label>First Name:</label>{{employee.first_name}}</h4>
                <h4><label>Last Name:</label>{{employee.last_name}}</h4>
                <h4><label>Gender</label>{{employee.gender}}</h4>
                <h4><label>Birth Date</label>{{employee.birth_date}}</h4>
                <h4><label>Hire Date</label>{{employee.hire_date}</h4>

            </div>
        </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/app/app.module.js"></script> 
    <script src="/app/app.directive.js"></script> <!-- directive is after module -->
    <script src="/app/app.service.js"></script> <!-- service before controller -->
    <script src="/app/app.controller.js"></script>
    
</body>
    
</html>
